In [48]:
import os
import pandas as pd
import geopandas as gpd

# Read in LGM C and O Data 
folder_path = "merged_files_intcal20"
file_list = os.listdir(folder_path)
csv_files = [file for file in file_list if file.endswith(".csv")]

LGM_CO_df = pd.concat([pd.read_csv(os.path.join(folder_path, file)) for file in csv_files], ignore_index=True)

LGM_CO_df.head()

,Longitude (degE),Latitude (degN),Site Depth (m),published_archival_depth (m),age_model (y BP),d13C (PDB),d18O (PDB),Taxon_flag,Ocean_flag(1=Atl.;2=Pac.;3=Ind.)
0,-29.87,43.5,3020.0,0.035,2150.590332,1.45,2.63,1.0,1
1,-29.87,43.5,3020.0,0.050,2287.080933,1.40,2.71,1.0,1
2,-29.87,43.5,3020.0,0.070,2469.068604,1.30,2.61,1.0,1
3,-29.87,43.5,3020.0,0.110,2806.673950,1.38,2.67,1.0,1
4,-29.87,43.5,3020.0,0.130,2965.479980,1.20,2.50,1.0,1

In [50]:
# GEOTRACES/modern Data

file_path = "/Users/paigewise/Data/FF46F034F47C05F9E0536C86ABC0DC7E/ipd2021v2/GEOTRACES_IDP2021_v2/seawater/ascii/GEOTRACES_IDP2021_Seawater_Discrete_Sample_Data_v2/GEOTRACES_IDP2021_Seawater_Discrete_Sample_Data_v2.csv"

GEOTRACES_df = pd.read_csv(file_path)
GEOTRACES_df.head()

/var/folders/bm/1zbxfdz545vb2vms38bdffv80000gn/T/ipykernel_93898/3947862508.py:5: DtypeWarning: Columns (1,12,21,25,33,35,37,39,41,424) have mixed types. Specify dtype option on import or set low_memory=False.
  GEOTRACES_df = pd.read_csv(file_path)

,Cruise,Station:METAVAR:INDEXED_TEXT,Type,yyyy-mm-ddThh:mm:ss.sss,Longitude [degrees_east],Latitude [degrees_north],Bot. Depth [m],Operator's Cruise Name:METAVAR:INDEXED_TEXT,Ship Name:METAVAR:INDEXED_TEXT,Period:METAVAR:INDEXED_TEXT,...,QV:SEADATANET.581,Co_CELL_CONC_BOTTLE [amol/cell],QV:SEADATANET.582,Ni_CELL_CONC_BOTTLE [amol/cell],QV:SEADATANET.583,Cu_CELL_CONC_BOTTLE [amol/cell],QV:SEADATANET.584,Zn_CELL_CONC_BOTTLE [amol/cell],QV:SEADATANET.585,QV:ODV:SAMPLE
0,GA01,0,B,2014-05-17T22:29:00,349.29999,38.4329,4854.0,GEOVIDE,Pourquoi pas?,15/05/2014 - 30/06/2014,...,9,NaN,9,NaN,9,NaN,9,NaN,9,1
1,GA01,0,B,2014-05-17T22:29:00,349.29999,38.4329,4854.0,GEOVIDE,Pourquoi pas?,15/05/2014 - 30/06/2014,...,9,NaN,9,NaN,9,NaN,9,NaN,9,1
2,GA01,0,B,2014-05-17T22:29:00,349.29999,38.4329,4854.0,GEOVIDE,Pourquoi pas?,15/05/2014 - 30/06/2014,...,9,NaN,9,NaN,9,NaN,9,NaN,9,1
3,GA01,0,B,2014-05-17T22:29:00,349.29999,38.4329,4854.0,GEOVIDE,Pourquoi pas?,15/05/2014 - 30/06/2014,...,9,NaN,9,NaN,9,NaN,9,NaN,9,1
4,GA01,0,B,2014-05-17T22:29:00,349.29999,38.4329,4854.0,GEOVIDE,Pourquoi pas?,15/05/2014 - 30/06/2014,...,9,NaN,9,NaN,9,NaN,9,NaN,9,1

In [51]:
# LGM Nd Data

file_path = "Du2020.xlsx"
Du2020_df = pd.read_excel(file_path, sheet_name="Holocene and LGM")

file_path = "Howe2016.xlsx"
Howe2016_df = pd.read_excel(file_path)

LGM_Nd_df = pd.concat([Du2020_df, Howe2016_df], ignore_index=True)
LGM_Nd_df.head()

,Station,epsilon_Nd_HOL,epsilon_Nd_LGM,epsilon_Nd_LGM_M_HOL,Latitude,Longitude,Depth_m,Basin,Reference
0,AII107_65GGC,NaN,-8.105,NaN,-32.03,-36.19,2795.0,Atlantic/Southern,13
1,ALV_3891_1459_003_011,-14.8,NaN,NaN,38.95,-61.03,1176.0,Atlantic,49
2,B08_04,-11.5,NaN,NaN,46.91,-5.33,693.0,Atlantic,50
3,B08_04_E2,-11.4,NaN,NaN,46.91,-5.32,693.0,Atlantic,51
4,B08_04_E3,-10.7,NaN,NaN,46.91,-5.32,693.0,Atlantic,51